/* Global styles */

:root {
    --main-red: #A51D40;
}

body, html {
	margin: 0;
	padding: 0;
}

* {
	font-family: 'Lato', sans-serif;
}

.container-2 {
	padding: 0 2em;
	margin: 0;
}

.container {
	padding: 0 2em;
	margin: 0;
	max-width: 330px;
}

.mobile-wrapper {
	background: #fff;
    border-bottom: 5px solid #A51D40;
    height: 100px;
}

p, h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

/* hidden desktop elements */

.topper-flex,
#brand,
.call-strip-button {
	display: none;
}

/* Buttons */
.button-solid {
	background: #A51D40;
	border-radius: 25px;
	border: none;
	color: #fff;
	width: auto;
	height: 50px;
	margin: 10px 0;
	padding: 0 30px;
	font-size: 13px;
	width: auto;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

.button-solid:hover {
    color: var(--main-red);
    background: #fff;
    border: 1px solid var(--main-red);
}

.button-transparent {
    display: inline-block;
    background: transparent;
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
    font-size: 15px;
    margin: 10px 0;
    padding: 6px 30px;
    color: #FFFFFF;
    text-decoration: none;
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
    border-radius: 25px;
    white-space: nowrap;
    float: left;
    height: 50px;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

.button-transparent:hover {
    color: #fff;
    background: var(--main-red);
    border: none;
}

.hamburger {
    padding: 0;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    position: relative;
    z-index: 2000;
}
.hamburger:hover {
    opacity: 0.7;
    cursor: pointer;
}
.hamburger.is-active:hover {
    opacity: 0.7;
    cursor: pointer;
}
.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
    background-color: #000;
}
.hamburger-box {
    width: 30px;
    height: 24px;
    display: inline-block;
    position: relative;
    z-index: 2000;
}
.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 30px;
    height: 3px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block;
}
.hamburger-inner::before {
    top: -10px;
}
.hamburger-inner::after {
    bottom: -10px;
}

/* * Spring */
.hamburger--spring .hamburger-inner {
    top: 2px;
    transition: background-color 0s 0.13s linear;
    transition-delay: .22s;
}
.hamburger--spring .hamburger-inner::before {
    top: 10px;
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition-delay: .22s;
}
.hamburger--spring .hamburger-inner::after {
    top: 20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition-delay: .22s;
}
.hamburger--spring.is-active .hamburger-inner {
    transition-delay: 0.22s;
    background-color: transparent !important;
}
.hamburger--spring.is-active .hamburger-inner::before {
    top: 0;
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger--spring.is-active .hamburger-inner::after {
    top: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(-45deg);
}

/*-- -------------------------- -->
<---         NAVIGATION         -->
<--- -------------------------- -*/

.navbar-menu {
    background:  #231F20;
}

.mobile-nav {
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#side-menu {
	background:  #231F20;
    position: relative;
    z-index: 5;
    padding: 0;
}

.side-nav {
	visibility: hidden;
	height: 0;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s 
}

.mobile-nav {
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.mobile-nav button {
    right: 17px;
    position: absolute;
}

.active-menu {
	color: var(--main-red);
    background: #fff;
    padding:  7px 40px;
    border-radius: 20px;
}

ul {
	text-align: center;
	padding: 30px 0;
	margin: 0;
}

ul a {
	text-decoration: none;
	color: #fff;
	line-height: 2em;
	font-weight: 700;
	-webkit-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
}

ul a:hover {
    text-decoration: none;
    color: var(--main-red);
    opacity: .4;
    cursor: pointer;
}

ul li {
	list-style: none;
}

ul#on-top {
    margin-bottom: 0;
}
/*-- -------------------------- -->
<---          LANDING           -->
<--- -------------------------- -*/

#contact-header {
    height: 250px;
    width: 100%;
    background:url("../images/modern.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
}

.contact-dark {
    background: var(--main-red);
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.6;
}

#contact-header h1 {
    font-size: 45px;
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 5;
    font-weight: 900;
}

/*-- -------------------------- -->
<---          GALLERY           -->
<--- -------------------------- -*/

.gallery-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 100%;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 80px 0;
}

.gallery-content img {
	width: 300px;
	margin: 6px;
}

/*-- -------------------------- -->
<---           FOOTER           -->
<--- -------------------------- -*/

.footer-flex {
	padding-top: 50px;
}

#footer {
    background:#fff;
}

.footer-item p {
    margin: 0;
	text-align: left;
	max-width: 300px;
}

.footer-item img {
    margin: 0px 100% 30px 0;
    padding-top: 30px;
    float: left;
}

.footer-item h4 {
    font-size: 18px;
    color: #414141;
    text-align: left;
    margin-top: 40px;
}

.footer-line {
    width: 260px;
    border-top: 2px solid var(--main-red);
    margin-top: 10px;
    margin-bottom: 30px;
}

.button-list a {
    text-decoration: none;
    margin-bottom: 15px;
    list-style: none;
    text-align: left;
    display: block;
}

.button-list a:hover {
    color: #E8E6E6;
}

.green {
    color: var(--main-red);
}

.footer-main-line {
    width: 100%;
    margin: 20px 0;
    border-top: 2px solid var(--main-red);
}

.branding a {
    text-decoration: none;
}

.branding a:hover {
    color: var(--main-red);
    opacity: .7;
}

.branding {
    height: 150px;
    text-align: center;
}

.branding p {
    font-size: 13px;
    margin-bottom: 2px;
}

@media screen and (min-width: 600px) and (max-width: 1024px) {

	.mobile-nav {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}

}

@media screen and (min-width: 1025px) {

	/*-- -------------------------- -->
	<---         NAVIGATION         -->
	<--- -------------------------- -*/

	 /* Page Wide */
	 .container {
		max-width: 980px;
		padding: 0 2em;
		margin: auto;
    }
    
    header {
        height: 240px;
    }

    nav {
        position: relative;
        z-index: 2000;
    }

    .side-nav a {
        opacity: 1;
        visibility: visible;
    }

	.topper-flex,
	#brand,
	.navbar-menu,
	.mobile-nav {
		display: block;
	}

	.mobile-nav, .mobile-wrapper {
		display: none;
	}

	.open-slide {
		display: none;
    }
    
    #on-top {
        position: relative;
        z-index: 1000;
    }

	/* Topper */
	.topper-wrapper {
		background: #0e1111;
		width: 100%;
		height: 50px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
                align-items: center;
	}

	.topper-flex {
		background: #0e1111;
		width: 100%;
		margin: auto;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}

	.topper-content {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
	}

	.topper-content i {
		margin-right: 10px;
		color: #fff;
		margin: auto 16px;
	}

	.topper-content p {
		margin-right: 25px;
		margin-bottom: 0;
		color: #fff;
	}

	/* Branding Bar */
	.brand-bar {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		height: 130px;
		width: auto;
    }

	.quote {
		margin-right: 50px;
    }
    
    #brand {
        border-top: 4px solid var(--main-red);
    }

	.branding-bar {
		width: 500px !important;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		padding:  0;
		margin: 0 !important;
	}

	.quote i {
		color: var(--main-red);
		font-size: 45px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		margin-right: 25px;
	}

	.call i {
		color: var(--main-red);
		font-size: 45px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		margin-right: 25px;
	}

	.quote {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		width: auto;
	}

	.quote-block p {
		margin: 0;
	}

	.call {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		width: auto;
	}

	.call-block p {
		margin: 0;
	}

	/* Desktop Navbar */
	#navbar {
		height: auto;
	}

	.navbar-menu {
		width: auto;
		height: 60px;
		
    }
    
    nav {
        border-top: 1px solid rgba(118, 118, 118, .3);
    }

	ul.navbar-links {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		float: left !important;
		padding: 0;
		height: 60px;
        margin-bottom: 0;

	}

	.navbar-menu {
		width: 100%;
		height: auto;
		display: block;
		position: relative;
		z-index: 1000;
	}

	.navbar-links li a {
		width: auto;
		text-align: left;
		padding: 18px 20px;
		margin-right: 10px;
        color:  #414141;
	}

	.navbar-links li a:hover {
		color: var(--main-red);
        opacity: .7;
        text-decoration: none;
        cursor: pointer;
        position: relative;
        z-index: 1000;
	}

	.active-menu {
		color: var(--main-red) !important;
        border-top: 4px solid var(--main-red);
        border-radius: 0;
	}

	.navbar-links li {
		width: auto;
		text-align: left;
		float: left;
		margin: 10px 10px 10px 0;
    }
    
    #brand {
        border: none;
    }

	.contact-header {
		font-size: 70px !important;
	}

	#contact-header {
		height: 450px;
		background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
	}

	/*-- -------------------------- -->
    <---           FOOTER           -->
    <--- -------------------------- -*/

    .footer-flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding-top: 50px;
    }

    .footer-item img {
        margin-top: 40px;
        padding: 0;
        width: 230px;
        height: auto;
    }

    .footer-item {
        width: 20%;
    }

    .footer-item h4 {
        font-weight: 900;
    }

    .footer-item p {
        font-size: 15px;
    }

    .footer-line {
        width: 85%;
    }

    .branding {
        height: 70px;
    }

    .branding p {
        margin-bottom: 2px;
	}
	
	.footer1 p {
		display: none;
	}
}